body, ul, li {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  }
button:focus, input:focus {
    outline:none;
} 

body {
	background-color: #b4ffcb;
	font-size: 18px;
	color: black;
}
label {
	text-align: center;
	display: block;
}

li {
	display: flex;
	flex-direction: column;
	justify-content: center;
 	align-items: center;
	list-style:none;
	width: 70%;
	min-width: 200px;
	height: auto;
	min-height: 50px;
	padding: 5px;	
	margin:auto auto 10px auto;
	background-color: #b4ff00;
	border: 3px solid #439a63;
	border-radius: 10px ;
	box-sizing: border-box;	 
}
li div {
	width: 100%;
}
.inactive{
	background-color: #9a9a9a;
}
.inactive div:first-child {
	text-decoration: line-through;	
}
.inactive .changeStatus, 
.inactive .editTask{
	background-color: #666666;
}


.changeStatus, .deleteTaskfromList, .editTask {
	background-color: #7fcd98;
	border:1px solid #439a63;
	border-radius: 10px ;
	width: 25%;
	min-width: 65px;
	text-align: center;	
}

.tasksBlock{
	width: auto;
	padding-top: 20px;

}

.toDoForm,.tasksBlock{
	width: 50%;
	height: auto;
	margin: auto;
}

.submitNewTask{
	background-color: #7fcd98;
	border:1px solid #439a63;
	border-radius: 10px ;
	width: 50px;
	display: block;
	margin: 10px auto 10px auto;
}
.inputField{
	width: 80%;
	height: auto;
	background-color: #43ff94;
	min-height: 60px;
	border: 3px solid #439a63;
	border-radius: 10px;
	display: block;
	margin: 10px auto 0px auto;
	padding: 3px 3px 3px 5px;
	box-sizing: border-box;
}

.buttonsBlock{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
 	align-items: center;
 	margin-top: 20px;
}


